#include <windows.h>

IDI_ICON1	ICON	DISCARDABLE	"X:\\source\\SECAD\\resources\\secad.ico"

VS_VERSION_INFO VERSIONINFO
	FILEVERSION 23,3,0,0
	PRODUCTVERSION 23,3,0,0
	FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
	FILEFLAGS VS_FF_DEBUG
#else
	FILEFLAGS 0x0L
#endif
	FILEOS VOS__WINDOWS32
	FILETYPE VFT_DLL
	FILESUBTYPE 0x0L
	BEGIN
		BLOCK "StringFileInfo"
		BEGIN
			BLOCK "040904e4"
			BEGIN
				VALUE "CompanyName", "SECAD Software\0"
				VALUE "FileDescription", "SECAD\0"
				VALUE "FileVersion", "23.3.0.0\0"
				VALUE "LegalCopyright", "Copyright (C) SECAD.org\0"
				VALUE "OriginalFilename", "SECAD.exe\0"
				VALUE "ProductName", "SECAD\0"
				VALUE "ProductVersion", "23.3.0.0\0"
			END
		END
		BLOCK "VarFileInfo"
		BEGIN
			VALUE "Translation", 0x0409, 1252
		END
	END
/* End of Version info */

